{% load static %}
{% block body %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>EasyGo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin/assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin/assets/css/metismenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin/assets/css/style.css' %}" rel="stylesheet" type="text/css" />

        <script src="{% static 'admin/assets/js/modernizr.min.js' %}"></script>

    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

         {% include 'adminsidebar.html' %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                {% include 'adminheader.html' %}

                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                        <form name="search" method="post" >
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">Search Service</h4>

                                       <div class="form-group row">
                                                        <label class="col-4 col-form-label" for="example-email">Search by Service Number:</label>
                                                        <div class="col-6">
                                                            <input id="searchdata" type="text" name="searchdata" required" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                                                                                <div class="col-10">
<p style="text-align: center;"><button type="submit" name="search" class="btn btn-info btn-min-width mr-1 mb-1">Search</button></p>
                                                        </div>
                                                    </div>

       </form>

{% if click == "yes" %}
  <h4 align="center">Result against {{sd}} keyword </h4>


                                               <table class="table mb-0">
                                                <thead>
                <tr>
                  <th>S.NO</th>
                  <th>Vehicle Category</th>
                  <th>Service Number</th>
                  <th>Full Name</th>
                 <th>Mobile Number</th>
                  <th>Email</th>


                   <th>Action</th>
                </tr>
              </thead>

               {% if servicecount > 0 %}
            {% for i in service %}

                <tr>
                  <td>{{forloop.counter}}</td>
                   <td>{{i.category}}</td>
                  <td>{{i.serviceno}}</td>
                  <td>{{i.userid.first_name}}</td>
                  <td>{{i.userid.last_name}}</td>
                  <td>{{i.userid.username}}</td>

                  <td><a href="{% url 'view_service' i.id %}">View Details</a></td>
                </tr>
                 {% endfor %}
                                    {% else %}
  <tr>
    <td colspan="8"> No record found against this search</td>

  </tr>

   {% endif %}
                                                   {% endif %}

</table>


                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div> <!-- end card-box -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

            {% include 'adminfooter.html' %}
            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->



        <!-- jQuery  -->
        <script src="{% static 'admin/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'admin/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'admin/assets/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'admin/assets/js/waves.js' %}"></script>
        <script src="{% static 'admin/assets/js/jquery.slimscroll.js' %}"></script>
        <!-- App js -->
        <script src="{% static 'admin/assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'admin/assets/js/jquery.app.js' %}"></script>


    </body>
</html>
{% endblock %}