{% load static %}
{% block body %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>EasyGo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'user/assets/images/favicon.ico' %}">
        <!-- App css -->
        <link href="{% static 'user/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'user/assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'user/assets/css/metismenu.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'user/assets/css/style.css' %}" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'user/assets/js/modernizr.min.js' %}"></script>
        <script type="text/javascript">
$(document).ready(function () {
$('#pickupaddress').hide();
$('#deltype').change(function () {
var v = $("#deltype").val();


if(v=='dropservice')
{
$('#pickupaddress').hide();
}

if(v=='pickupservice')
{
$('#pickupaddress').show();
}
});
});

</script>

    </head>


    <body>

        <!-- Begin page -->
        <div >

           {% include 'sidebar.html' %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                  {% include 'header.html' %}

                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">Service Request Form</h4>
                                    <p class="text-muted m-b-30 font-14">

                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">

                                                <form class="form-horizontal" role="form" method="post" name="submit">
                                                   {% csrf_token %}
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Category</label>
                                                        <div class="col-10">
                                                            <select name='category' id="category" class="form-control" required="true">
     <option value="">Category</option>
       {% for i in categorys %}
              <option value="{{i.id}}">{{i.categoryname}}</option>
                   {% endfor %}
   </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label" for="example-email">Vehicle Name</label>
                                                        <div class="col-10">
                                                            <input type="text" id="vehiclename" name="vehiclename" class="form-control" placeholder="Vehicle Name" required="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Vehicle Model</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control"  name="vehiclemodel" id="vehiclemodel" required="true">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Vehicle Brand</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" placeholder="Brand" name="vehiclebrand" id="vehiclebrand" required="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Vehicle Registration Number</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" name="vehicleregno" id="vehicleregno" required="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Service Date</label>
                                                        <div class="col-10">
                                                            <input type="date" class="form-control" name="servicedate" id="servicedate" required="true">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Service Time</label>
                                                        <div class="col-10">
                                                            <input type="time" class="form-control" name="servicetime" id="servicetime" required="true">
                                                        </div>
                                                    </div>

                                                 <div class="form-group row">
                                                        <label class="col-2 col-form-label">Delivery Type</label>
                                                        <div class="col-10">
                                                            <select name="deltype" id="deltype" required="true" class="form-control">
                                                                <option value="">Select</option>
                                                                 <option value="pickupservice">Pickup Service</option>
 <option value="dropservice">Drop Service</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                              <div class="form-group row" id="pickupaddress">
                                                        <label class="col-2 col-form-label">Pickup Address</label>
                                                        <div class="col-10">
                                                             <input type="text" class="form-control" name="pickupadd" id="pickupadd">
                                                        </div>
                                                    </div>


                                                     <div class="form-group row">

                                                        <div class="col-12">
                                                           <p style="text-align: center;">  <button type="submit" name="submit" class="btn btn-info btn-min-width mr-1 mb-1">Submit</button></p>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div> <!-- end card-box -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

             {% include 'footer.html' %}
            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->



        <!-- jQuery  -->
        <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'user/assets/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'user/assets/js/waves.js' %}"></script>
        <script src="{% static 'user/assets/js/jquery.slimscroll.js' %}"></script>
        <!-- App js -->
        <script src="{% static 'user/assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'user/assets/js/jquery.app.js' %}"></script>

    </body>
</html>

{% ifequal error "no" %}
<script>
    alert("Your service request has been sent successfully. Service Number is {{sn}}");
	window.location=('{% url 'service_history' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endifequal %}

{% endblock %}