 {% load static %}
  <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <div class="slimscroll-men" id="remove-scroll">

                    <!-- LOGO -->
                    <div class="topbar-left">
                       <h3>EasyGo | USER  </h3>
                       <hr />                    </div>

                    <!-- User box -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="{% static 'user/assets/images/user.png' %}" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                        </div>


                        <h5>{{request.user.first_name}}</a> </h5>
                        <p class="text-muted">EasyGo User</p>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <!--<li class="menu-title">Navigation</li>-->

                            <li>
                                <a href="{% url 'user_home' %}">
                                    <i class="fi-air-play"></i><span class="badge badge-danger badge-pill float-right"></span> <span> Dashboard </span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript: void(0);"><i class="fi-layers"></i><span> Enquiry </span> <span class="menu-arrow"></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="{% url 'enquiry_form' %}">Enquiry Form</a></li>
                                    <li><a href="{% url 'enquiry_history' %}">Enquiry History</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="javascript: void(0);"><i class="fi-layers"></i><span> Service Request </span> <span class="menu-arrow"></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="{% url 'service_request' %}">Service Request Form</a></li>
                                    <li><a href="{% url 'service_history' %}">Service History</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                    <!-- Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

