{% load static %}

{% block body %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>EasyGo | Terms & Conditions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
         <link rel="shortcut icon" href="{% static 'user/assets/images/favicon.ico' %}">

        <!-- App css -->
        <link href="{% static 'user/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'user/assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'user/assets/css/metismenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'user/assets/css/style.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'user/assets/js/modernizr.min.js' %}"></script>

    </head>

        <!-- Begin page -->

            <div class="card">
                <div class="card-block">

                    <div class="account-box">

                        <div class="card-box p-5">
                            <h3 class="text-uppercase text-center pb-4">
                                <a href="{% url 'index' %}" class="text-success">
                                    <span>EasyGo | Terms & Conditions</span>
                                </a>
                            </h3>

<h5>Privacy information</h5>
Our Commitment To Privacy
<hr />
<p>Your privacy is important to us. To better protect your privacy we provide this Privacy Policy, which explains our online information practices and the choices you can make about the way your information is collected and used. To make this Privacy Policy easy to find, we make it available throughout our site and where personally identifiable data may be requested.</p>
<p>The Information We Collect</p>
<p>This Privacy Policy applies to all information collected or submitted on our website. On some pages, you may be able to order products, make requests, and register to receive email updates. The types of personal information collected at these pages include: </p>

<p>Name</p>
<p>E-mail address</p>
<p>Phone number</p>
<p>Address</p>

                        </div>
                   </div>
               </div>
           </div>

            <div class="m-t-40 text-center">
                <p class="account-copyright">2020 © EasyGo</p>
            </div>

        <!-- jQuery  -->
        <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'user/assets/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'user/assets/js/waves.js' %}"></script>
        <script src="{% static 'user/assets/js/jquery.slimscroll.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'user/assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'user/assets/js/jquery.app.js' %}"></script>

    </body>
</html>
{% endblock %}